
div.ipyregulartable {
  min-height: 200px;
  /* resize: both; */
}

div.ipyregulartable table th {
  font-weight: bold;
  background-color: rgba(0, 0, 0, .1);
}

div.ipyregulartable table td.highlight {
  background-color: rgba(0, 0, 155, 0.1);
}
